@{
    ViewBag.Title = "Contact";
}

<head>
    <link href="~/Content/CustomCSS.css" rel="stylesheet" />
</head>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<body>

    <h3>Contact Us</h3>

    <div class="container" id="ContactForm">
        <form action="/action_page.php">
            <label for="fname">Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Brigham Young">
            <br />
            <label for="lname">Email</label>
            <input type="text" id="lname" name="lastname" placeholder="example@gmail.com">
            <br />
            <label for="country">Country</label>
            <select id="country" name="country">
                <option value="australia">Australia</option>
                <option value="canada">Canada</option>
                <option value="usa">USA</option>
            </select>
            <br />
            <label for="subject">Subject</label>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
            <br />
            <input type="submit" value="Submit">
        </form>
    </div>

</body>
<br />
<address>
    Service Blvd<br />
    Provo, Utah 84604<br />
    <abbr title="Phone">P:</abbr>
    801.867.5309
</address>

<address>
    <strong>Support:</strong>   <a href="https://lds.org">lds.org</a><br />
</address>